<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!--<add key="saveErrors" value="true" />-->
    <add key="strict" value="true" />
    <add key="autoImport" value="System; System.IO" />
    <add key="autoInclude" value="std; meta" />
  </appSettings>
</configuration>
