<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="showErrorExpression" value="true" />
    <add key="showErrorStatement" value="true" />
    <add key="showErrorFrameExcerpts" value="true" />
    <add key="showErrorScope" value="false" />
    <add key="showErrorFileList" value="true" />
    <add key="frameExcerptLines" value="20" />
    <add key="stackTraceParams" value="true" />
    <!--<add key="stackTraceParamsMax" value="20" />-->
    <add key="saveErrors" value="false" />
    <add key="strict" value="true" />
    
    <add key="autoImport" value="System; System.IO" />
    <add key="autoInclude" value="std" />
    <add key="scriptCaching" value="true" />
    <add key="ignoreDbg" value="false" />
    <add key="requestDbg" value="false" />
    <!-- <add key="sourcePath" value="c:\source\Aphid" /> -->

    <!--<add key="nugetSource" value="\\node3\source\np" />-->
  </appSettings>
</configuration>
