<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ErrorProne.NET" version="0.1.5898.41180" targetFramework="net472" />
  <package id="ErrorProne.NET.CoreAnalyzers" version="0.1.2" targetFramework="net472" developmentDependency="true" />
  <package id="ErrorProne.NET.Structs" version="0.1.2" targetFramework="net472" developmentDependency="true" />
  <package id="Roslynator.Analyzers" version="2.0.0" targetFramework="net472" developmentDependency="true" />
</packages>